@import '~/abstracts/**/*.scss';

@import '~/pages/index/**/*.scss';

//
// styles
//
:root {
  --color1: #efb2fb;
  --color2: #acc6f8;
}
html {
  transform: translate3d(0, 0, 0.1px);
}
.setting {
  width: 250px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 10px;
  background: black;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.card {
  position: relative;
  width: 360px;
  height: 500px;
  overflow: hidden;
  margin: 30px auto auto auto;
  background-image: url('/assets/img/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 20px;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2),
    -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent,
    0 0 5px 0 rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.2s ease;
}
.card.active {
  box-shadow: -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.1s ease-out;
}
.card::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    115deg,
    transparent 0%,
    var(--color1) 25%,
    transparent 47%,
    transparent 53%,
    var(--color2) 75%,
    transparent 100%
  );
  filter: brightness(0.5) contrast(1);
  border-radius: 20px;
  mix-blend-mode: color-dodge;
}
.card.active::before {
  background-image: linear-gradient(
    110deg,
    transparent 25%,
    var(--color1) 48%,
    var(--color2) 52%,
    transparent 75%
  );
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
}
